.main {
  background-color: #101322;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}

.header_info {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #101322;
  color: white;
  height: 56px;

  width: 100%;
  box-sizing: border-box;
}
.footer_info {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #101322;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
  z-index: 9999;
}
.swiper_wrapper {
  padding: 10px;
}
.swiper_title {
  margin: 10px 0;
  font-size: 25px;
}
.movie_card {
  height: 255px;
  width: 138px;
  background-color: #172036;
  border-radius: 6px;
  box-sizing: border-box;
}
.movie_card_image {
  width: 100%;
  border-radius: 6px;
}
.movie_card_info {
  height: 55px;
  width: 100%;
  margin-top: 6px;
  text-align: center;
  padding: 0 8px;
}
.ranking_wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 8px;
}
.ranking_list {
  display: block;
  height: 100%;
  overflow: auto;
  width: 100%;
  height: 168px;
}
.ranking_item {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px;
  margin: 6px 0;
  flex: 1;
  height: 48px;
  background-color: #172036;
  border-radius: 8px;
}
.ranking_img_wrapper {
  height: 40px;
  width: 29px;
  margin: 0 10px;
}

.ranking_img {
  height: 100%;
  width: 100%;
}
