.main {
  background-color: #101322;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}

.header_info {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #101322;
  color: white;
  height: 56px;

  width: 100%;
  box-sizing: border-box;
}
.footer_info {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #101322;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
  z-index: 9999;
}
.swiper_wrapper {
  padding: 10px;
}
.swiper_title {
  margin: 10px 0;
  font-size: 25px;
}
.movie_card {
  height: 255px;
  width: 138px;
  background-color: #172036;
  border-radius: 6px;
  box-sizing: border-box;
}
.movie_card_image {
  width: 100%;
  border-radius: 6px;
}
.movie_card_info {
  height: 55px;
  width: 100%;
  margin-top: 6px;
  text-align: center;
  padding: 0 8px;
}
.ranking_wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 8px;
}
.ranking_list {
  display: block;
  height: 100%;
  overflow: auto;
  width: 100%;
  height: 168px;
}
.ranking_item {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px;
  margin: 6px 0;
  flex: 1;
  height: 48px;
  background-color: #172036;
  border-radius: 8px;
}
.ranking_img_wrapper {
  height: 40px;
  width: 29px;
  margin: 0 10px;
}

.ranking_img {
  height: 100%;
  width: 100%;
}
.movie_info_wrapper {
  height: 430px;
  width: 100%;
  border: solid 1px white;
}
.movie_background {
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.movie_info_content {
  width: 100%;
  padding: 0 16px 16px;
  box-sizing: border-box;
  bottom: 0;
  z-index: 100;
  border: solid 1px white;
  display: flex;
}
.movie_info_title {
  border: solid 1px white;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.movie_info_image {
  width: 99px;
  height: 143px;
  border-radius: 10px;
}
.movie_info_tab_wrapper {
  width: 100%;
  max-width: 700px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #25304a;
  background: #101322;
  display: flex;
}
.movie_info_button {
  cursor: pointer;
  padding: 14px 16px 10px;
  width: 100%;
  min-width: fit-content;
  justify-content: center;
  text-align: center;
}
.selected_tab {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
}
.unselected_tab {
  color: #586a85;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
}
.search_wrapper {
  width: 100%;
}
.search_box {
  display: flex;
  gap: 6px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
.search_form {
  border-radius: 6px;
  background: #25304a;
  border: 1px solid transparent;
  z-index: 30;
  width: 100%;
  display: flex;
  height: 40px;
  flex-direction: row;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
  flex: 1 0 0;
  padding: 0 10px;
}
.search_input {
  flex: 1;
  height: 100%;
  background: transparent;
  font-size: 20px;
  line-height: 40px;
  color: #d4d9e1;
  border: none;
  outline: none;
}
